@import "tailwindcss";
@import "@radix-ui/themes/styles.css";

@layer components {
  .DocSearch-Hit--Result {
    background-color: --alpha(var(--color-gray-950) / 10%);
  }
}

:root {
  --orange-vibrant: #FF5722;
  --gray-dark: #1E1E1E;
  --gray-light: #2C2C2C;
  --green-protein: #4CAF50;
  --blue-carb: #2196F3;
  --orange-fat: #FF9800;
  --white-main: #FFFFFF;
}
